.footer {
  padding: 50px 0 25px;
  background: #181818;
  color: #ffffff;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.footer-brand h3 {
  margin-bottom: 12px;
  font-size: 24px;
}

.footer-brand h3 span {
  color: #3b82f6;
}

.footer-brand p {
  max-width: 400px;
  line-height: 1.6;
  color: #cbd5e1;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links h4 {
  margin-bottom: 8px;
  font-size: 18px;
}

.footer-links a {
  color: #cbd5e1;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #3b82f6;
}

.footer-bottom {
  margin-top: 40px;
  padding-top: 20px;

  border-top: 1px solid #334155;

  text-align: center;
}

.footer-bottom p {
  color: #94a3b8;
  font-size: 14px;
}

.footer-social {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 42px;
  height: 42px;

  border: 1px solid #475569;
  border-radius: 50%;

  color: #cbd5e1;

  transition: 0.3s;
}

.footer-social a:hover {
  color: #ffffff;
  background: #2563eb;
  border-color: #2563eb;
}

/* ---------- midea -----*/
@media (max-width: 768px) {
  .footer {
    padding: 40px 0 20px;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 35px;
    text-align: center;
  }

  .footer-brand p {
    margin: 0 auto;
  }

  .footer-links {
    align-items: center;
  }

  .footer-social {
    justify-content: center;
  }
}
