.menu-button {
  display: none;
}

@media (max-width: 768px) {
  /* HERO */

  .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }

  .hero {
    min-height: auto;
  }

  .hero-container {
    flex-direction: column;
    text-align: center;
    padding: 70px 0 40px;
    gap: 40px;
  }

  /* ... */

  /* SOBRE */

  .about {
    padding: 70px 0;
  }

  .about-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .about-image img {
    height: 320px;
    object-fit: cover;
    object-position: center top;
  }

  .about-content {
    max-width: 100%;
  }

  .about-content h2 {
    font-size: 32px;
  }

  .about-cards {
    grid-template-columns: 1fr;
  }
}
